{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <img src="img/{{ with .Site.Params.about.profilePicture }}{{ . }}{{ end }}" class="profile-pic img-responsive img-centered img-circle">

                <p class="text-faded section-a-page-scroll">{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.about.buttonUrl }}" target="_blank" class="btn btn-default btn-xl page-scroll">{{ with .Site.Params.about.buttonText }}{{ . }}{{ end }}</a>
                </p>
            </div>

            <div class="col-lg-4 twitter-container">
                
                <a class="twitter-timeline" data-height="607" data-dnt="true" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/katevanhoose">Tweets by katevanhoose</a>
                
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>

        </div>
    </div>
</section>
