{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-faded"><span>{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</span></h2>
                <p class="text-faded">{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p class="text-faded">{{ with .Site.Params.contact.phone }}{{ . }}{{ end }}</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-faded"><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></p>
            </div>
        </div>
    </div>
</section>
